<mat-card>
    <mat-card-header>
        <mat-toolbar class="toolbar">
        <mat-card-title><b style="color: black; font-family: 'Courier New', Courier, monospace; font-size: 18pt">Company List</b></mat-card-title>
        <span class="toolbar-spacer"></span>
        <mat-card-actions align="end">
        <mat-icon (click)=addAddress() style="color: black">add</mat-icon>
      </mat-card-actions>
        </mat-toolbar>
    </mat-card-header>
    <br/>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img src="assets/ing.png" width="200px" height="50px">
            </mat-panel-title>
            <mat-panel-description><b></b>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br />
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                <b>Savings Account</b>
                </mat-panel-title>
                <mat-panel-description><b>This is my savings account</b>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>This is my savings account</p>
            </mat-expansion-panel>
            <br />
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                <b>Mortgage Account</b>
                </mat-panel-title>
                <mat-panel-description><b>This is my Mortgage account</b>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>This is my Mortgage account</p>
            </mat-expansion-panel>
            <br />
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                <b>Credit Card Account</b>
                </mat-panel-title>
                <mat-panel-description><b>This is my credit card account</b>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>This is my credit card account</p>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
        <br />
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img src="assets/T-Mobile_logo.png" width="200px" height="50px">
            </mat-panel-title>
            <mat-panel-description>
              <b></b>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br />
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                <b> Prepaid</b>
                </mat-panel-title>
                <mat-panel-description><b>This is my prepaid connection</b>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>This is my prepaid connection</p>
            </mat-expansion-panel>
            <br />
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                <b> Internet/TV </b>
                </mat-panel-title>
                <mat-panel-description><b>This is my Internet/TV account</b>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>This is my Internet/TV account</p>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
        <br />
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img src="assets/AEGON.png" width="200px" height="50px">
            </mat-panel-title>
            <mat-panel-description>
              <b></b>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br />
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Life Insurance</b>
                </mat-panel-title>
                <mat-panel-description><b>This is my life insurance</b>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>This is my life insurance</p>
            </mat-expansion-panel>
            <br />
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Pension</b>
                </mat-panel-title>
                <mat-panel-description><b>This is my Pension</b>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>This is my Pension</p>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
