/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css"; */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.toolbar {
  background-color: #dde0e0;
  border-radius: 5px;
  color: white;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.demo-toolbar {
  flex: 1 1 auto;
}